<div NgxLoadingXBlur [show]="load" class="container">
  <div class="form-container">
    <h1 class="title">Images</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <input type="text" class="searchbar-input" placeholder="Enter the image name" formControlName="query">
      <button type="submit" class="btn" [disabled]="form.invalid">Search</button>
    </form>
  </div>
  <div class="list-container" *ngIf="images.length">
    <app-image-list [images]="images"></app-image-list>
    <button class="btn" (click)="loadMore()">Load more</button>
  </div>
</div>

<ngx-loading-x [show]="load">
</ngx-loading-x>