<div NgxLoadingXBlur [show]="load" class="container">
  <app-search-form (sentData)="submit($event)"></app-search-form>
  <div class="list-container" *ngIf="images.length">
    <div class="image-container">
      <ul class="image-list">
        <li *ngFor="let image of images" class="image-item" #imageItem>
          <img src="{{ image.webformatURL }}" alt="{{ image.tags }}" />
          <div class="stats-container">
            <p class="stats-item"><b>Likes:</b> {{ image.likes }}</p>
            <p class="stats-item"><b>Views:</b> {{ image.views }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<ngx-loading-x [show]="load"> </ngx-loading-x>