<div class="image-container">
    <ul class="image-list">
        <li *ngFor="let image of images" class="image-item" (click)="showImage(image)">
            <img src={{image.webformatURL}} alt={{image.tags}}>
            <div class="stats-container">
                <p class="stats-item"><b>Likes:</b> {{image.likes}}</p>
                <p class="stats-item"><b>Views:</b> {{image.views}}</p>
            </div>
        </li>
    </ul>
</div>

<app-image-item [src]="source" (click)="hideModal()" *ngIf="showModal"></app-image-item>